<% if user_signed_in? %>

<% else %>
	<div class="hero-unit">
		<h1>Welcome!</h1>
		<p>
			You've found the homepage for my introductory project in Ruby. The site is an image sharing website, based off a concept similar to Pinterest where users can share and view their favorite pictures.<br>I'm still tweaking this and that, but I encourage you to sign up and give it a try!
		</p>
		<%= link_to "Sign Up Now!", new_user_registration_path, class: "btn btn-success"%>
		<br><br>
		<h5>
		If you want to learn more about Ruby or get started on your own project, check out the 
		<%= link_to "Ruby on Rails homepage", "http://rubyonrails.org/"%>.<br>
		<small>I also highly recommend Mattan Griffel's <%= link_to "One Month Rails program", "http://onemonthrails.com"%>; it's how I began learning about building web applications and it's been a really useful tool for me in picking up this great skill!</small>
		</h5>
	</div>
<% end %>