<h1>About the Author</h1>
<h3>Hello there!</h3>

<p>My name is Chris Nobre and I'm a junior studying mechanical engineering at the University of Illinois. I'm building this sample web application to give myself some hands-on experience with Ruby and Ruby on Rails. I hope this gives you some motivation get out there and try building something like this on your own.</p>

<p>Thanks for checking out my site!</p>