<div class="hero-unit">
	<h1>Welcome to Ruby!</h1>
	<p>
		You've found my homepage for my introductory project in Ruby. If you want to learn more or get started on your own project, check out the <%= link_to "Ruby on Rails homepage", "http://rubyonrails.org/"%>.
	</p>
		<%= link_to "Sign Up Now!", '#', class: "btn btn-success"%>
</div>
	<h5>
		I also highly recommend Mattan Griffel's <%= link_to "One Month Rails program", "http://onemonthrails.com"%>; it's how I'm learning and it's been a really great tool for me in picking up this great skill!
	</h5>
<hr>
<div class='footer'>
	<small>Made by <a href="http://www.facebook.com/chris.nobre92">Chris Nobre</a></small>
</div>
